@font-face {
  font-family: "Bubbly Mess"; 
  src: url("font/BubblyMess.ttf") format("truetype");
}

body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    overflow-y:hidden;
    /*background: #c1e8e8;*/
    /*background: linear-gradient(0deg,rgba(193, 232, 232, 1) 0%, rgba(177, 203, 230, 1) 100%);*/
}

h1 {
    margin: 4px;
    color: #97c2c1;
    -webkit-text-stroke: 1px #76a5af;
}


a:visited {
  color: #76a5af;
}

a:active {
  color: #76a5af;
}

.window {
    font-family: "Bubbly Mess", sans-serif;
    color: #fff;
    position: absolute; 
    transform: translate(-50%, -50%); backdrop-filter: blur(35px); 
    background-color: rgba(0, 0, 0, 0.20);  
    border: solid;
    border-radius: 12px; 
    border-color: black;
    flex-direction: column;
    filter: drop-shadow(0 0 6px black); 
}

#top-bar {
    font-family: monospace;
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    display: flex; 
    backdrop-filter: blur(10px); 
    background-color: rgba(0, 0, 0, 0.25); 
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    font-size: large;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;

    pointer-events: none;
}

#top-bar > * {
    pointer-events: auto;
}

.header {
    background-color: #76a5af;
    width: 100%; 
    display: flex; 
    align-items: center; 
    cursor: grab; 
    border-top-left-radius: 11px; border-top-right-radius: 11px;
}

.closebutton {
    cursor: pointer;
    color: rgb(196, 91, 91);
    width: 30px; 
    height: 25px; 
    background-color: #EC6B5E;
    border-radius: 4px; 
    border: solid 1px;
    margin-left: auto; 
    margin-right: 0;
}

#welcomeopen {
    cursor: pointer;
    margin-left: 20px;
}

#desktopApps {
    padding-top: 80px; 
    padding-left: 20px
}

.appStyling {
    text-align: center; 
    padding: 16px; 
    filter: drop-shadow(0 0 10px black); 
    width: fit-content;
}

.appStyling:hover {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    cursor: pointer;
}

.appText {
    margin: 0px; 
    color: #fff; 
}

.appImage {
    width: 64px; 
    height: 64px; 
    border-radius: 2px;
}

#welcome {
    top: calc(50% - 90px); 
    left: calc(50% - 180px); 
    top: 50%; 
    left: 50%; 
    width: 40%;
}

#aboutMe {
    top: 35%; 
    left: 75%; 
    width: 45%;
    height: 50%;
    display: none
}

#art {
    top: 35%; 
    left: 75%; 
    width: 45%;
    height: 50%;
    display: none
}

#artContainer {
    display: flex; 
    height: calc(100% - 30px);
}

#sidebar {
    width: 20%; 
    border-right: 1px solid #76a5af; 
    padding: 10px; 
    overflow-y: auto;
}

#artContent {
    width: 70%; 
    padding: 10px;
}

.windowTextBox {
    overflow: auto;
    padding:10px;
}

.imageDisplay {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}